<html>
  <head> 
   <%= stylesheet_link_tag "application" %>
		<%= javascript_include_tag 'jquery' %>		
		<%= javascript_include_tag 'jquery-form' %>
		<%= javascript_include_tag 'effects.core' %>
		<%= javascript_include_tag 'effects.highlight' %>
		<%= javascript_include_tag 'application' %>		
  </head>
  <body>
    <%= yield %>
  </body>
</html>
